// -------------------------------------------------------------------
// :: BUTTON
// -------------------------------------------------------------------

.a-button {
	display: inline-block;

	min-height: 40px;

	margin: 0;
	padding: 0.5rem 2rem;

	background: $green;
	color: $white;

	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	text-decoration: none;

	border: none;
	border-radius: 0;

	cursor: pointer;
	user-select: none;
	vertical-align: middle;

	&:hover {
		background: darken($green, 10%);
	}

	&[disabled] {
		background: $gray-light;
		color: $gray-dark;

		cursor: not-allowed;
	}

	&.a-button--small {
		width: 40px;
		height: 40px;

		margin-left: 1rem;
		padding: 0;
	}
}
