// -------------------------------------------------------------------
// :: INPUT
// -------------------------------------------------------------------

.a-input {
	width: 100%;
	min-height: 40px;

	margin: 0.5rem 0;
	padding: 1rem;
	outline: 0;

	color: $black-light;
	background-color: $white;

	font: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;

	border: 1px solid $gray;

	/* stylelint-disable */
	-webkit-appearance: none;
	-moz-appearance: none;
	/* stylelint-enable */
}
