<div class="m-product">
	<span>{{ product?.name }}</span>
	<span>{{ product?.quantity }}</span>
	<button (click)="increment()" class="a-button a-button--small" type="button">+</button>
	<button (click)="decrement()" [disabled]="!product?.quantity" class="a-button a-button--small" type="button">-</button>
</div>
