// -------------------------------------------------------------------
// :: VARIABLES
// -------------------------------------------------------------------

// -------------------------------------------------------------------
// :: COLORS
// -------------------------------------------------------------------

$black-light: #363636;
$gray-dark: #6f6f6f;
$gray-light: #eae4e2;
$gray: #bbb7b5;
$green: #00c4b3;
$white: #fff;
