// -------------------------------------------------------------------
// :: ORDER
// -------------------------------------------------------------------

.m-order {
	margin: 1rem 0;
	padding: 1rem 0;

	border-top: 2px solid $green;
	border-bottom: 2px solid $green;
}
