// -------------------------------------------------------------------
// :: PRODUCTS
// -------------------------------------------------------------------

.m-products {
	margin: 1rem 0;

	.m-product {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		height: 60px;

		border-top: 1px solid $gray-light;

		span {
			font-weight: 700;

			&:first-of-type {
				flex: 1;

				text-transform: uppercase;
			}
		}
	}

	da-product:last-of-type .m-product {
		border-bottom: 1px solid $gray-light;
	}
}

.m-add-product {

	form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		button {
			margin-top: 1rem;
		}
	}
}
