<div class="m-intro">
	<p>Tell me, what is your name?</p>
	<input [(ngModel)]="username" (input)="setUsername()" class="a-input" type="text" placeholder="Name">
	<p>Hello<span class="u-text-bold">{ username.length, plural,
		=0 {}
		other {{{ ' ' + username }}}
	}</span>, order some drinks!</p>
</div>
