// -------------------------------------------------------------------
// :: CONTAINER
// -------------------------------------------------------------------

.u-container {
	width: 100%;
	max-width: 48rem;

	margin: 0 auto;
}
