<div class="m-add-product">
	<form [formGroup]="form">
		<label for="name">Add a product</label>
		<input type="text" class="a-input" formControlName="name" name="name" id="name" placeholder="Name">
		<button (click)="submit(form?.value)" [disabled]="form.invalid" class="a-button" type="button">Submit</button>
	</form>
</div>
