// -------------------------------------------------------------------
// :: GENERAL LAYOUT
// -------------------------------------------------------------------

* {
	box-sizing: border-box;
}

html,
body,
da-app {
	height: 100%;

	font-family: "Montserrat", sans-serif;
	color: $black-light;
}

body,
da-app,
router-outlet + * {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: stretch;

	max-height: 100%;
}

router-outlet + * {
	flex: 1;
}

da-add-product,
da-intro,
da-order,
da-product,
da-products {
	display: block;
}
