// -------------------------------------------------------------------
// :: TYPOGRAPHY
// -------------------------------------------------------------------

p {
	margin: 0.5rem 0;
}

h1 {
	margin: 1rem 0;
	padding-bottom: 1rem;

	border-bottom: 2px solid $green;
}
