<div *ngIf="products?.length">
	<input [(ngModel)]="query" (input)="filter()" class="a-input" type="text" placeholder="Search">
	<div class="m-products">
		<da-product *ngFor="let product of products" [product]="product"></da-product>
	</div>
</div>

